.body{
   position: relative;
}

.loginForm{
    position: absolute;
    top: 15%;
    left: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
    background-color: #128c7e;
    width: 400px;
    height: 400px;
    border-radius: 50px;
    text-align: center;
}
input:focus{
    outline: none;
} 


input[type="text"] {
    border-radius: 20px;
    padding: 10px 22px;
    border: none;
}
input[type="email"] {
    border-radius: 20px;
    margin-top: 12px;
    padding: 10px 22px;
    border: none;
   

}
input[type="password"] {
    border-radius: 20px;
    margin-top: 12px;
    padding: 10px 22px;
    border: none;
   

}
input[type="submit"] {
    border-radius: 20px;
    margin-top: 12px;
    padding: 10px 22px;
    cursor: pointer;
    display: inline;
    background-color: #4caf50;
    border: none;
    color: white;

}
.button
{
    padding: 10px 22px;
    margin-top: 25px;
    cursor: pointer;
    display: inline;
    background-color: #4caf50;
    border: none;
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 15px;
}

input[type="file"]
{
    margin-top: 10px;
    margin-left: 57px;
}
