* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.continer {
  display: flex;
  width: 100%;
}

.left {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  width: 30%;
  background-color: #4CAF50;
}
.img_n_name
{
  height: 80%;
  display: flex; 
  margin: 0.5rem;
}

.left img {
 justify-content: center;
  height: 90%;
  width: 3rem;
  border-radius: 50%;

}

#login_user_name
{
  height: 80%;
  width: 3rem;
  margin: 0.5rem;
  flex: 0 1 auto; 
}

#logout 
{ 
  
  padding: 0.5rem 0.5rem;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#logout:hover {
  background-color: red;
  
}


.right {
  width: 70%;
  height: 4rem;
  background-color: #4CAF50;
}

.c1 {
  display: flex;
  width: 100%;
  min-height: calc( 100vh - 4rem );
}

.l1 {
  display: flex;
  flex-direction: column;
  width: 30%;
  max-height: calc( 100vh - 4rem );
  background-color: #F2E9EA;
}

.r1 {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-height: calc(100vh - 4rem);
  background-color: #4CAF50;

}
#user-data
{
  width: auto;
  display: flex;
  flex-direction: column;
  min-height: 90%;
  overflow-y: scroll;
  background-color:#D1EAFB;
 
}
.message
{
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
 
}

.self {
  align-items: flex-end;


}


.other {
  align-items: flex-start;
}


.messagediv
{
  width: 100%;
  min-height: 10%;
  background-color: #4CAF50;
}



i {
  font-size: 35px;
}



h3 {
  padding-top: 20px;
}

.search {
  background-color: #DCDCDC;
  align-items: center;
  width: 100%;
  height: 10%;
}


.search_button {
  margin-top: 10px;
  float: left;
  width: 40px;
  height: 40px;
  margin-left: 5px;
  border: none !important;
  background-color: white;
}



.listscroll {
  overflow-x: hidden;
  height: 80%;
  overflow-y: scroll;
}



.listuser {
  display: flex;
  height: 4rem;
  width: 100%;
  border: 5px solid white;
  background-color: #4CAF50;


}

.listuser a {
  display: block;
  text-decoration: none;
  color: aliceblue;
}

.listuser img {
    justify-content: center;
    height: 90%;
    width: 3rem;
    border-radius: 50%;
}



.search i {
  font-size: 25px;
  color: gray;
}



.right img {
  margin: 15px 10px 15px 30px;
  float: left;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}



@media only screen and (max-width: 768px) {
  /* CSS styles for smaller screens */

  #logout 
{ 
  display: none;
}

#login_user_name
{
  display: none;
}
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* CSS styles for medium-sized screens */
}

@media only screen and (min-width: 1025px) {
  /* CSS styles for larger screens */
}
