*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.continer{
  display: flex;
width: 100%;
 
}

.left{
    
    height: 5rem;
    width: 30vw;
    background-color: #47555c;;
}
.right{
   width: 70vw;
    height: 5rem;
    background-color:#47555c;;
   
}

.c1{
display: flex; 
   width: 100wh;
   height: calc( 100vh - 4rem );
}
.l1{
  
     height: -webkit-fill-available;
 
    width: 30%;
   background-color:  #F2E9EA;
}

.r1{
    height: 42.5rem;
   width: 70vw;
    background-color:#47555c;
   
}




i{
    font-size: 35px;
}



        h3{
            padding-top: 20px;
        }
       
        .search{
         background-color: #DCDCDC;
          
          align-items: center;
          /* border-radius: 10px; */
           width: 100%;
           height: 60px;
        }
        .searchform{
            float: left;
            

        }

        .search_button
        {
          margin-top: 10px;
          float: left;
          width:40px ;
          height: 40px;
          margin-left: 5px;
          border: none!important;
          background-color: white;
        }



        .listuser{
          height: 70px;
          width: 98%;
          border: 5px solid white;
          background-color:#47555c;
          
          
      }
      .listuser a{
        display: block;
        text-decoration:none ;
        color: aliceblue;
      }
.listuser img{
  float: left;
  margin: 15px;
  border-radius: 50%;
}
 #nn{
  display: inline-block;
  margin-top: 15px;

}
#n2{
 display: block;
 

}
        input{

          
            width: 390px;
            height: 40px;
            margin-top: 10px;
            /* border-radius: 20px; */
            border: none!important;
            
        }
        
       
        input:focus{
            outline: none;
        } 
       




      .search i{
        font-size: 25px;
        color: gray;
      }

    
      .chatboxes{
        
        height: 550px;
        width: 100%;
        background-color: blueviolet;
        
      }
      .chatboxes i{
        width: 80%;
        position: relative;
      }

      .messagediv{
      
      display: flex;
      justify-content: center;
      padding-top: 22px;
      margin-top: 40px;
      
     
      }
      

      .inpmessage{
     width: 900px;
     border: none;
     background-color: #f0f0f0;
     border-radius: 25px;
     padding-left: 20px;
     
      }
      .iemo{
        margin-top: 12px;
        padding-right: 5px;
      }

      .iaud{
        margin-top: 15px;
        padding-left: 5px;
      }
      .sub_{
        height: 40px;
        width: 60px;
        background-color: blueviolet;
      }
    
      .chat{
        background-color: #ece5dd;
       
        height: 38rem;
        overflow-y: auto;
        
        padding-left: 80px;
        padding-top: 30px;
        
        
    
      }
     
      .paraid1{
        text-align:right;
        height: 30px;
        width: 50%;
        background-color: #47555c;;
        margin-left: 30%;
        margin-bottom: 20px;
        padding-right: 5px;
        border-radius: 30px;
      }

      .message1{
        padding:10px;
        color:#000;
        margin-right:15px;
        background-color:#dcf8c6;
        line-height:20px;
        max-width:90%;
        /* display:inline-block; */
        text-align:right;
        border-radius:5px;
        float:right;
        clear:both;
    }

    .message{
      padding:10px;
      color:#000;
      margin-left:15px;
      background-color:#dcf8c6;
      line-height:20px;
      max-width:90%;
      display:inline-block;
      text-align:left;
      border-radius:5px;
      clear:both;
  }

  .inpname{
    width: 30px;
    height: 40px;
  }

  #logout {
 
    margin-top: 23px;
   text-decoration: none;
    float: right;
    height: 20px;
    width: 70px;
   border-radius: 15px;
   text-align: center;
   cursor: pointer;
    background-color: aliceblue;
  }
  #logout:hover{
    background-color: red;
  }

  .linkk{
    margin-top: 10px;
    float:right;
    background: none;
    padding: 0px;
    border: none;
    cursor: pointer;
  }

  .listscroll{
    overflow-x: hidden;
    height: 624px;
    overflow-y: scroll;
   
  }


  .chat-bubble {
   
    padding:5px;
    margin: 5px;
   border-radius: 5px;
    font-size: 15px;
   
  }
  
  .chat-bubble.lleft {
    
    background-color:whitesmoke;
    color:black;
    float:left;
    max-width:90%;
    clear:both;
    
    
  }
  
  .chat-bubble.rright {
        color:#000;
        background-color:#dcf8c6;
        max-width:90%;
        float:right;
        clear:both;
    
  }
  

  .mytextarea
  {
    
  display: inline-grid;
    

  }

 

.left img {
  float: left;
margin: 15px;
  height: 40px;
  width: 40px;
  border-radius: 50%;

}

.right img {
  margin: 15px 10px 15px 30px;
  float: left;
  height: 40px;

  width: 40px;
  border-radius: 50%;
}
#n3
{
  color: whitesmoke;
  display: inline-block;
  margin-top: 25px;
  font-size: 20px;
 
}



