* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.continer {
  display: flex;
  width: 100%;
position: fixed;
left: 0;
top: 0;
}

.left {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  width: 30%;
  background-color: #4CAF50;
}
.img_n_name
{
  height: 80%;
  display: flex; 
  margin: 0.5rem;
}

.left img {
  justify-content: center;
  height: 90%;
  width: 3rem;
  border-radius: 50%;

}

#login_user_name
{
  height: 80%;
  width: 3rem;
  margin: 0.5rem;
  flex: 0 1 auto; 
}

#logout 
{ 
  width: 10vw;
  padding: 0.2rem 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
 
  cursor: pointer;
  
  text-decoration: none;
}

#logout:hover {
  background-color: red;
  
}


.right {
  display: flex;
  width: 70%;
  height: 4rem;
  background-color: #4CAF50;
}
#image_chatting_user
{
  display: none;
  height: 90%;
  width: 3rem;
  border-radius: 50%;
  justify-content: center;
}
#chatting_user_name
{
    height: 80%;
    width: 3rem;
    margin: 0.5rem;
    flex: 0 1 auto;
}

.c1 {
  display: flex;
  width: 100%;
  height: calc( 100vh - 4rem );
  padding-top:4rem;
}

.l1 {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: calc( 100vh - 4rem );
  background-color: #F2E9EA;
}

.r1 {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: calc(100vh - 4rem);
 

}
#user-data
{
  width: auto;
  display: flex;
  flex-direction: column;
  height: 90%;
  overflow-y: scroll;
  background-color:#D1EAFB;
 
}
.message
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
 
}

.self {
 
  align-items: flex-end;
/* background-color: #4CAF50; */

}


.other {
  align-items: flex-start;
}

#message_self_para
{
  width: auto;
  height: auto;
  background:  #25D366;
  color: black;
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-size: 1.2em;
}
#message_other_para
{ display: flex;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  font-size: 1.2em;
  background-color: white;
  color: black;
  padding: 0.5rem;
  border-radius: 0.3rem;

}





i {
  font-size: 35px;
}



h3 {
  padding-top: 20px;
}



.search {
  
  background-color: #DCDCDC;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .0.5rem;
  width: 100%;
  height: 10%;
}
.searchform{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 93%;
  height: 60%;
  background-color: white;
  outline: none;
  border: none !important;
  border-radius: 0.5rem;

}
.searchform input
{
  width: 80%;
  height: 60%;
  /* padding-top: 4%;
  padding-bottom: 4%; */
  padding-left: 2%;
  border-radius: 0.5rem;
  outline: none;
  border: none;
}

.search_button {
  width: 15%;
  height: 60%;
  border: none !important;
  background-color: white;
  vertical-align: middle; 
  
  }



.listscroll {
  display: block;
  overflow-x: hidden;
  height: 90%;
  overflow-y: scroll;
}



.listuser {
  display: flex;
  height: 4rem;
  width: 100%;
  border: 5px solid white;
  background-color: #4CAF50;
  align-items: center;
  
}
.listuser:hover
{
 background-color: #fff;
}

.listuser a {
  display: block;
  text-decoration: none;
  color: aliceblue;
}

.listuser img {
    margin-left: 2%;
  
    height: 90%;
    width: 3rem;
    border-radius: 50%;
}
.listuser strong
{
padding-left: 2%;
}




.search i {
  font-size: 1.2em;
  color: gray;
  padding-left: 1vw;
}






.input_message_div { 
  display: flex;
  width: 100%;
  height: 10%;
  background-color: #4CAF50;
  justify-content: center;


}

#input_message_id {
  height: 5vh;
  width: 40vw;
  border: 0.1rem solid #ccc;
  padding-left: 0.5vw;
  border-radius: 0.5rem; 
 
}

#input_user_message_button {
  display: inline-block;
  border: none;
  padding: 0;
  background-color: transparent; /* Remove the background color */
  color: #fff;
  margin-top: 0.5rem;

}

#input_user_message_button i {
  font-size: 2.5rem; /* Adjust the font size of the icon */
  vertical-align: middle; 
 
}



@media only screen and (max-width: 768px) {
  /* CSS styles for smaller screens */



  .left
  {
    width: 15%;
  }

  
  .right
  {
    width: 85%;
  }
  #logout 
{ 
  display: none;
}

#login_user_name
{
  display: none;
}

.search i {
  font-size: 1em;
  color: gray;
  padding-left: 0;
}

#nn
{
display: none;
}

.l1 {
  width: 15%;
  height: calc( 100vh - 4rem );
  background-color: #F2E9EA;
}

.r1 {

  width: 85%;
  height: calc(100vh - 4rem);
  background-color: #4CAF50;

}

.search_button {
display: none;
  
  }

  .listuser {
   justify-content: center;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* CSS styles for medium-sized screens */
}

@media only screen and (min-width: 1025px) {
  /* CSS styles for larger screens */
}
